.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/

# Build products and archives
*.ipa
*.dSYM.zip
*.dSYM
Examples/EZChartsDemo/Screenshots/*.png

# Local environment files
.env
.env.*
